<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Survey Form</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'survey_form/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div>
		<form action="/survey/process" method="POST">
		{% csrf_token %}
			<table>
				<tr>
					<td>
						<p>Your Name:</p>
					</td>
					<td>
						<input type="text" name="name">
					</td>
				</tr>
				<tr>
					<td>
						<p>Dojo Location:</p>
					</td>
					<td>
						<select name="location">
							<option value="DC">DC</option>
							<option value="Mountain_View">Mountain View</option>
							<option value="Los_Angeles">Los Angeles</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<p>Favorite Language:</p>
					</td>
					<td>
						<select name="language">
							<option value="Python">Python</option>
							<option value="Java">Java</option>
							<option value="Javascript">Javascript</option>
						</select>
					</td>
				</tr>	
			</table>
			<p>Comment (optional):</p>
			<textarea name="comment"></textarea>
			<p id="button"><input type="submit" name="Submit"></p>
		</form>
	</div>

</body>
</html>